
---
name: email_form
resource: User
email_notifications:
    - welcome_user
fields:
    email:
--- 
<div>
{% form %}
  <input placeholder="Enter a valid email address" name="{{ form.fields.email.name}}" value="{{ form.fields.email.value }}" />
  <button><a href="/symptom">Submit</button></a>
{% endform %}
</div>


